app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.json
inventory.yml
playbook.yml
vagrant
hosts
frontend-deployment.yaml
explanation.md
backen-deployment.yaml
roles
ansible.cfg
imaage.png